
{require_min_otp_vsn, "R18"}.

{deps, [
    {mongodb, {git, "git://github.com/comtihon/mongodb-erlang.git", "v1.0.0"}},
    {ecpool, {git, "git://github.com/emqtt/ecpool.git", {branch, "master"}}}
]}.
{profiles, [
  {prod, [
    {deps, [
      {emqttd, {git, "https://github.com/emqtt/emqttd.git", {tag, "1.0.2"}}}
    ]}
  ]}
]}.
{vim_erlang_compiler, [
  {profile, "prod"}
]}.
